@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<div class="navbar-nav justify-content-centre mx-3">
    @if (signInManager.IsSignedIn(User))
    {
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button class="btn btn-sm btn-outline-light">Logout @User.Identity.Name</button>
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-light">
        Login
        </a>
    }

</div>
@* add app.UseAuthentication() in startup *@